<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		    = "com.digi.webappbeta"
	versionCode = "5795"
	version 	= "1.8.2.5795">

	<name>DIGI-WebApp Beta</name>

	<description>
		Die mobile Zeiterfassung für das Handwerk!
	</description>

	<author href="http://www.digi-zeiterfassung.de"
		email="support@digi-zeiterfassung.de">
		DIGI Zeiterfassung GmbH
	</author>

	<gap:platform name="ios" />
	<gap:platform name="android" minVersion="2.2" />
	<gap:platform name="winphone" />
	<!-- <gap:platform name="webos" /> -->
	<!-- <gap:platform name="symbian" /> -->
	<!-- <gap:platform name="blackberry" project="widgets" /> -->

	<icon src="theme/images/Icon.png" gap:role="default" />
	
	<preference name="android-minSdkVersion" value="8" />
	<preference name="android-installLocation" value="auto" />
	<preference name="fullscreen" value="false" />
	<preference name="autorotate" value="false" readonly="false" />
	<preference name="phonegap-version" value="3.6.3" />
	<preference name="orientation" value="portrait" />
	<preference name="load-url-timeout" value="60000" />
	<preference name="splash-screen-duration" value="60000" /> <!-- deprecated -->
	<preference name="SplashScreenDelay" value="60000"/>
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="keepRunning" value="true" />
	
<!-- smartphone and tablet -->
	<preference name="target-device" value="universal" />

<!-- if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
	<preference name="prerendered-icon" value="false" />

<!-- controls whether the screen "bounces" when scrolled beyond the top or bottom on iOS. By default, the bounce is on -->
	<preference name="webviewbounce" value="false" />
	
<!-- If you do not want any permissions to be added to your app, add the following tag to 
your config.xml instead; you will still have the INTERNET permission on your app,
which PhoneGap requires. -->
    <preference name="permissions" value="none" />

<!-- to enable single features use the following examples -->
	<feature name="http://api.phonegap.com/1.0/geolocation" />
	<feature name="http://api.phonegap.com/1.0/network" />
	<feature name="http://api.phonegap.com/1.0/camera" />
	<feature name="http://api.phonegap.com/1.0/file" />
	<feature name="http://api.phonegap.com/1.0/contacts" />
	<feature name="http://api.phonegap.com/1.0/notification"/>

<!-- include PhonegapPlugIns -->
	<!-- <gap:plugin name="com.phonegap.plugins.childbrowser" /> -->
<!--  	<gap:plugin name="org.apache.cordova.camera" /> -->
<!-- 	<gap:plugin name="org.apache.cordova.console" /> -->
<!-- 	<gap:plugin name="org.apache.cordova.contacts" /> -->
<!-- 	<gap:plugin name="org.apache.cordova.device" /> -->
<!-- 	<gap:plugin name="org.apache.cordova.dialogs" /> -->
<!-- 	<gap:plugin name="org.apache.cordova.file" /> -->
<!-- 	<gap:plugin name="org.apache.cordova.geolocation" /> -->
<!-- 	<gap:plugin name="org.apache.cordova.inappbrowser" /> -->
<!-- 	<gap:plugin name="org.apache.cordova.media-capture" /> -->
<!-- 	<gap:plugin name="org.apache.cordova.network-information" /> -->
<!-- 	<gap:plugin name="org.apache.cordova.splashscreen" /> -->
<!-- 	<gap:plugin name="org.apache.cordova.vibration" /> -->
 
<gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
<gap:plugin name="org.apache.cordova.console" version="0.2.11" />
<gap:plugin name="org.apache.cordova.contacts" version="0.2.13" />
<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
<gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
<!-- <gap:plugin name="org.apache.cordova.file" version="0.2.4" /> -->
<gap:plugin name="org.apache.cordova.file" version="1.3.1" />
<gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
<gap:plugin name="org.apache.cordova.media-capture" version="0.3.3" />
<gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.3" />
<gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />

<gap:plugin name="wellbload.cordova.background-geolocation" version="0.3.4" />
<gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.5" />

<!-- <gap:plugin name="com.phonegap.plugins.barcodescanner" /> -->
<!-- <gap:plugin name="com.adobe.plugins.pushplugin" /> --> <!-- yet incompatible with BlackBerry prior 10 -->
<!-- <gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.5.0" /> -->

<gap:config-file platform="ios" parent="CFBundleShortVersionString"> 
	<string>5795</string> 
</gap:config-file>
<gap:config-file platform="ios" parent="UIStatusBarHidden">
    <false/>
</gap:config-file>
<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
    <true/>
</gap:config-file>
<feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
</feature>

<!-- geolocation on ios8 -->   
	<gap:config-file platform="ios" parent="NSLocationAlwaysUsageDescription" overwrite="false"></gap:config-file> 
	<gap:config-file platform="ios" parent="NSLocationWhenInUseUsageDescription" overwrite="false"></gap:config-file>
	<gap:config-file platform="ios" parent="NSLocationUsageDescription" overwrite="false"></gap:config-file>

<!-- if a single icon is specified then Build will use it for all platforms -->
    <icon src="icon.png" />

<!-- the following is useful for Build when you have many icons; this way
    Blackberry will use the correct icon --> 
    <icon src="theme/images/Icon.png" gap:platform="blackberry" />
    <icon src="theme/images/Icon.png" gap:platform="blackberry" gap:state="hover" />

<!-- iOS requires specific dimensions for splash screens; classic iPhone screens, Retina 
      Screens, and iPad screen respectively -->
    <icon src="theme/images/icon_ios_57.png" gap:platform="ios" width="57" height="57" /> 
    <icon src="theme/images/icon_ios_72.png" gap:platform="ios" width="72" height="72" /> 
    <icon src="theme/images/icon_ios_76.png" gap:platform="ios" width="76" height="76" />
    <icon src="theme/images/icon_ios_114.png" gap:platform="ios" width="114" height="114" /> 
    <icon src="theme/images/icon_ios_120.png" gap:platform="ios" width="120" height="120" />
    <icon src="theme/images/icon_ios_144.png" gap:platform="ios" width="144" height="144" />

<!-- Android requires specific dimensions; ldpi, mdpi, and hdpi respecitvely. --> 
    <icon src="theme/images/ic_launcher_ldpi.png" gap:platform="android" gap:density="ldpi" /> 
    <icon src="theme/images/ic_launcher_mdpi.png" gap:platform="android" gap:density="mdpi" /> 
    <icon src="theme/images/ic_launcher_hdpi.png" gap:platform="android" gap:density="hdpi" /> 
    <icon src="theme/images/ic_launcher_xhdpi.png" gap:platform="android" gap:density="xhdpi" /> 

<!-- Windows Phone 7 requires specific dimensions or platform and role attributes -->
	<icon src="theme/images/icon-winphone.png" gap:platform="winphone" />
	<icon src="theme/images/tile-icon-winphone.png" gap:platform="winphone" gap:role="background" />

<!-- if a single splash screen is specified the build will use it for 
all builds. Currently, all platforms except ios use a single splash 
screen -->
	<gap:splash src="theme/images/320x426_90_DIGI-WebApp_mitLogo.png" />

	<gap:splash src="theme/images/320x426_90_DIGI-WebApp_mitLogo.png" gap:platform="blackberry" />
	
	<!-- <gap:splash src="theme/images/200x320_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="ldpi" /> -->
	<!-- <gap:splash src="theme/images/320x426_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="ldpi" /> -->
	<gap:splash src="theme/images/320x426_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="theme/images/320x470_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="theme/images/480x800_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="theme/images/720x960_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="xhdpi" />
    
<!-- iOS requires specific dimensions for splash screens; classic iPhone screens, Retina 
Screens, and iPad screen respectively --> 
	<gap:splash src="theme/images/320x480_90_DIGI-WebApp_mitLogo.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="theme/images/640x960_90_DIGI-WebApp_mitLogo.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="theme/images/768x1024_90_DIGI-WebApp_mitLogo.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="theme/images/1024x768_90_DIGI-WebApp_mitLogo.png" gap:platform="ios" width="1024" height="768" />
	<gap:splash src="theme/images/640x1136_90_DIGI-WebApp_mitLogo.png" gap:platform="ios" width="640" height="1136" />

<!-- Windows Phone 7 requires a specific dimension or platform attribute -->
	<gap:splash src="theme/images/480x800_90_DIGI-WebApp_mitLogo.jpg" gap:platform="winphone" />
	
	<access origin="*" subdomains="true" />
	<access origin="http://127.0.0.1*" subdomains="true" />
	
</widget>
