<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		    = "com.digi.webappbeta"
	versionCode = "4261"
	version 	= "1.6.1.4261">

	<name>DIGI-WebApp Beta</name>

	<description>
		Die mobile Zeiterfassung für das Handwerk!
	</description>

	<author href="http://www.digi-zeiterfassung.de"
		email="support@digi-zeiterfassung.de">
		DIGI Zeiterfassung GmbH
	</author>

	<gap:platform name="ios" />
	<gap:platform name="android" minVersion="2.2" />
	<gap:platform name="winphone" />
	<!-- <gap:platform name="webos" /> -->
	<!-- <gap:platform name="symbian" /> -->
	<gap:platform name="blackberry" project="widgets" />

	<icon src="theme/images/Icon.png" gap:role="default" />
	
	<preference name="android-minSdkVersion" value="8" />
	<preference name="android-installLocation" value="auto" />
	<preference name="fullscreen" value="true" />
	<preference name="autorotate" value="false" readonly="false" />
	<preference name="phonegap-version" value="2.9.0" />
	<preference name="orientation" value="portrait" />
	<preference name="load-url-timeout" value="60000" />
	<preference name="splash-screen-duration" value="60000" />
	
<!-- smartphone and tablet -->
	<preference name="target-device" value="universal" />

<!-- if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen --!
	<preference name="prerendered-icon" value="true" />

<!-- controls whether the screen "bounces" when scrolled beyond the top or bottom on iOS. By default, the bounce is on -->
	<preference name="webviewbounce" value="false" />
	
<!-- If you do not want any permissions to be added to your app, add the following tag to 
your config.xml instead; you will still have the INTERNET permission on your app,
which PhoneGap requires. -->
    <preference name="permissions" value="none" />

<!-- to enable single features use the following examples -->
	<feature name="http://api.phonegap.com/1.0/geolocation" />
	<feature name="http://api.phonegap.com/1.0/network" />
	<!-- -->
	<feature name="http://api.phonegap.com/1.0/camera" />
	<feature name="http://api.phonegap.com/1.0/file" />
	<feature name="http://api.phonegap.com/1.0/contacts" />
	<feature name="http://api.phonegap.com/1.0/notification"/>

<!-- include PhonegapPlugIns -->
	<gap:plugin name="com.phonegap.plugins.childbrowser" />
	<!-- <gap:plugin name="com.phonegap.plugins.barcodescanner" /> -->
	<!-- <gap:plugin name="com.adobe.plugins.pushplugin" /> --> <!-- yet incompatible with BlackBerry prior 10 -->
	
<!-- if a single icon is specified then Build will use it for all platforms -->
    <icon src="theme/images/Icon.png" />

<!-- the following is useful for Build when you have many icons; this way
    Blackberry will use the correct icon --> 
    <icon src="theme/images/Icon.png" gap:platform="blackberry" />
    <icon src="theme/images/Icon.png" gap:platform="blackberry" gap:state="hover" />

<!-- iOS requires specific dimensions for splash screens; classic iPhone screens, Retina 
      Screens, and iPad screen respectively -->
    <icon src="theme/images/icon_ios_57.png" gap:platform="ios" width="57" height="57" /> 
    <icon src="theme/images/icon_ios_72.png" gap:platform="ios" width="72" height="72" /> 
    <icon src="theme/images/icon_ios_114.png" gap:platform="ios" width="114" height="114" /> 

<!-- Android requires specific dimensions; ldpi, mdpi, and hdpi respecitvely. --> 
    <icon src="theme/images/ic_launcher_ldpi.png" gap:platform="android" gap:density="ldpi" /> 
    <icon src="theme/images/ic_launcher_mdpi.png" gap:platform="android" gap:density="mdpi" /> 
    <icon src="theme/images/ic_launcher_hdpi.png" gap:platform="android" gap:density="hdpi" /> 

<!-- Windows Phone 7 requires specific dimensions or platform and role attributes -->
	<icon src="theme/images/icon-winphone.png" gap:platform="winphone" />
	<icon src="theme/images/tile-icon-winphone.png" gap:platform="winphone" gap:role="background" />

	<gap:splash src="splash.png" />

<!-- if a single splash screen is specified the build will use it for 
all builds. Currently, all platforms except ios use a single splash 
screen -->
    <gap:splash src="theme/images/200x320_90_DIGI-WebApp_mitLogo.png" />

	<gap:splash src="theme/images/splash.png" gap:platform="blackberry" />
	
	<!-- <gap:splash src="theme/images/200x320_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="ldpi" /> -->
	<!-- <gap:splash src="theme/images/320x426_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="ldpi" /> -->
	<gap:splash src="theme/images/320x426_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="theme/images/320x470_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="theme/images/480x800_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="theme/images/720x960_90_DIGI-WebApp_mitLogo.png" gap:platform="android" gap:density="xhdpi" />
    
<!-- iOS requires specific dimensions for splash screens; classic iPhone screens, Retina 
Screens, and iPad screen respectively --> 
	<gap:splash src="theme/images/320x480_90_DIGI-WebApp_mitLogo.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="theme/images/640x960_90_DIGI-WebApp_mitLogo.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="theme/images/768x1024_90_DIGI-WebApp_mitLogo.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="theme/images/1024x768_90_DIGI-WebApp_mitLogo.png" gap:platform="ios" width="1024" height="768" />
	<gap:splash src="theme/images/640x1136_90_DIGI-WebApp_mitLogo.png" gap:platform="ios" width="640" height="1136" />

<!-- Windows Phone 7 requires a specific dimension or platform attribute -->
	<gap:splash src="theme/images/480x800_90_DIGI-WebApp_mitLogo.jpg" gap:platform="winphone" />
	
	<access origin="*" subdomains="true" />
	<access origin="http://127.0.0.1*" subdomains="true" />
	
</widget>
